
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Prompt:wght@100&display=swap');

* {
    margin: 0;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
    font-family: 'PT Sans', sans-serif;

}

body .container {
    background-color: #6096ba77;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

body .task_to_add {

    display: flex;
    justify-content: center;
    padding: 5%;
    color: rgb(2, 2, 28);
}

body h1 {
    color: #050a34;

}

body #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body #title {
    text-align: center;
    height: 10%;
    width: 40%;
    background-color: #faf3dd;
    border: solid 3px #16425b;
    border-radius: 5%;
}

body #input {
    height: 55%;
    width: 75%;
    padding: 5%;
    text-align: center;
    background-color: #faf3dd;
    border: solid 3px #16425b;
    border-radius: 5%;

}

body button {
    padding: 1%;
    background-color: #faf3dd;
    color: black;
    border: solid 3px #16425b;
    border-radius: 5%;
}

body button:hover {
    background-color: #ffccd5;
}

body #msg {
    font-size: xx-large;
}

body #display_title {
    text-align: center;
    text-decoration: underline;
    padding: 3%;
    color: rgb(2, 2, 28);
}

body .task_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body .task_box {
    border: black solid 2px;
    border-radius: 5%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffccd5;
    height: 250px;
    width: 250px;

}

body #tasks {
    overflow: hidden;
}